<div class="container">
      <div class="row">

          <div class="col-lg-3" >
            <ul class="nav nav-sidebar">
             <%= render 'books/list', book: @book, user: @book.user %>
          </div>
          <div class="col-lg-9">
<h2>Book detail</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Image</th>
      <th> Title</th>
      <th> Body</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td><div class="form-group has-icon">
        <div class="user-profile-image">
        <%= attachment_image_tag @book.user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
       </div>
      </div></td>

      <td><%= link_to @book.title, book_path(@book.id) %></td>
      <td><%= @book.body %></td>

      <% if user_signed_in? && @book.user_id == current_user.id %>
      <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success btn-sm" %></td>
      <td><%= link_to "Delete", book_path(@book), class: "btn btn-danger btn-sm", method: :delete, "data-confirm" => "本当に消しますか？" %></td>
      <% end %>


    </tr>
  </tbody>

</table>


</div>
</div>
</div>
